package page

templ getPageHead(title string) {
    <head>
        <title>{title}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bignumber.js@9/bignumber.mjs" crossorigin="anonymous"></script>
        <link href="/css/main.css" rel="stylesheet" crossorigin="anonymous">
    </head>
}