package page

import "github.com/guitarpawat/worthly-tracker/internal/model"
import "github.com/guitarpawat/worthly-tracker/internal/view/component"

templ GetRecord(data model.GetRecordResponse) {
    <!DOCTYPE html>
    <html>
        @getPageHead("Worthly Tracker: Records")
        <body>
        @component.Header("getRecord")
        @component.GetRecordTable(data)
        </body>
    </html>
}