package page

import "github.com/guitarpawat/worthly-tracker/internal/view"
import "github.com/guitarpawat/worthly-tracker/internal/view/component"

templ GetRecord(data view.GetRecordTable) {
    <!DOCTYPE html>
    <html>
        @getPageHead("Worthly Tracker: Records")
        <body hx-ext={getHxExt()}>
        @component.Header("getRecord")
        @component.GetRecordTable(data)
        </body>
    </html>
}