package component

import (
    "github.com/guitarpawat/worthly-tracker/internal/model"
    "github.com/guitarpawat/worthly-tracker/utility/format"
	"time"
	"github.com/shopspring/decimal"
	"strconv"
	"fmt"
)

templ EditRecordTable(data model.EditRecordTableView) {
    <script type="module" src="/js/edit_record.js"></script>
	<div class="container" hx-ext="json-enc-custom" hx-include="this">
        <h2 id="record-action">{string(data.Action)}</h2>
        <div class="row mt-3">
            <div class="col-auto">
                <h4>Record Date: </h4>
            </div>
            <div class="col-auto">
                <h4 id="shown-date">{data.Date.Format(time.DateOnly)}</h4>
            </div>
            <div class="col-auto">
                <input id="date" type="date" name="Date" style="visibility: hidden; position: absolute;" value={data.Date.Format(time.DateOnly)} autocomplete="off">
                <button id="change-date" class="btn btn-outline-secondary btn-sm">Change</button>
            </div>
        </div>
        <div class="mt-3">
            <table class="table table-bordered table-hover text-nowrap" id="record-table">
                <thead class="table-secondary table-group-divider sticky-top">
                <tr>
                    <th class="text-center fs-6" scope="col">Name</th>
                    <th class="text-center fs-6" scope="col">Place</th>
                    <th class="text-center fs-6" scope="col">AI</th>
                    <th class="text-center fs-6" scope="col">Bought Value</th>
                    <th class="text-center fs-6" scope="col">Current Value</th>
                    <th class="text-center fs-6" scope="col">UR %</th>
                    <th class="text-center fs-6" scope="col">Realized Value</th>
                    <th class="text-center fs-6" scope="col">Note</th>
                </tr>
                </thead>
                {{idx := 0}}
                for _, assetType := range data.AssetTypes {
                    <tbody>
                    	    <tr class="table-light">
                    	        <th class="text-center fs-6" colspan="8">{assetType.Name}</th>
                    	    </tr>
                            for _, record := range assetType.Records {
                                @editRecordTableRecord(record, idx)
                                {{idx++}}
                            }
                    </tbody>
                }
            </table>
            <div class="text-center">
                <p class="btn btn-success btn-lg" id="save-btn" hx-post="/records">&nbsp;Save&nbsp;</p>
            </div>
        </div>
    </div>
}

templ editRecordTableRecord(data model.RecordTableViewData, idx int) {
	<tr>
        <th class="text-start fs-6" scope="row">{data.Name}</th>
        <td class="text-start fs-6">{data.Broker}</td>
        if data.DefaultIncrement.IsZero() {
            <td class="text-center fs-6"></td>
        } else {
            <td class="text-center fs-6">✔</td>
        }

        {{
        assetIdName := fmt.Sprintf("Record['%d'][AssetId]", idx)
        boughtId := strconv.Itoa(idx)+"-bought"
        boughtName := fmt.Sprintf("Record['%d'][BoughtValue]", idx)
        currentId := strconv.Itoa(idx)+"-current"
        currentName := fmt.Sprintf("Record['%d'][CurrentValue]", idx)
        profitId := strconv.Itoa(idx)+"-profit"
        realizeId := strconv.Itoa(idx)+"-realize"
        relaizeName := fmt.Sprintf("Record['%d'][RealizedValue]", idx)
        noteName := fmt.Sprintf("Record['%d'][Note]", idx)
        }}

        <input name={assetIdName} type="hidden" value={strconv.Itoa(data.AssetId)}>
        if data.IsCash {
            <td><input type="number" step="0.01" class="fs-6 text-end" readonly="readonly"></td>
            <td>
                <input id={currentId} name={currentName} class="fs-6 text-end data-format-decimal" type="number" step="0.01" class="fs-6 text-end" value={addIncrement(data.CurrentValue, data.DefaultIncrement).StringFixedBank(2)} autocomplete="off">
            </td>
            <td class="fs-6 text-end"></td>
            <td><input type="number" step="0.01" class="fs-6 text-end" readonly="readonly"></td>
        } else {
            <td class="data-enable-on-click">
                <input id={boughtId} name={boughtName} class="fs-6 text-end data-recalculate-profit data-format-decimal" type="number" type="number" step="0.01" value={addIncrement(data.BoughtValue, data.DefaultIncrement).StringFixedBank(2)} autocomplete="off" readonly="readonly">
            </td>
            <td>
                <input id={currentId} name={currentName} class="fs-6 text-end data-recalculate-profit data-format-decimal" type="number" type="number" step="0.01" value={data.CurrentValue.StringFixedBank(2)} autocomplete="off">
            </td>
            <td id={profitId} class="fs-6 text-end">{format.Percent(getProfitPercent(addIncrement(data.BoughtValue, data.DefaultIncrement), data.CurrentValue))}</td>
            <td class="data-enable-on-click">
                <input id={realizeId} name={relaizeName} class="fs-6 text-end data-format-decimal" type="number" type="number" step="0.01" value={data.RealizedValue.StringFixedBank(2)} autocomplete="off" readonly="readonly">
            </td>
        }
        <td><input name={noteName} type="text" class="fs-6 text-start" readonly="readonly"></td>
    </tr>
}

func enableFieldScirpt(id string) string {
    return fmt.Sprintf("enableField('%s')", id)
}

func addIncrement(a, b decimal.Decimal) decimal.Decimal {
    return a.Add(b)
}