input[disabled] {
    pointer-events:none
}

worthly-header * {
    z-index: 100000;
}

.container{
    max-width: 1440px;
}

@media (max-width: 1440px) {
    .container{
        max-width: 100%;
    }
}